# MongoDB Connection String
# CHANGE THIS TO YOUR MONGODB CONNECTION STRING
MONGODB_URI=mongodb://localhost:27017/powergrid-marketplace

# Server Configuration
PORT=3000

# Environment
NODE_ENV=development 